In [5]:
import pandas as pd 

data = "LastFM/scrobbles.csv"

In [7]:
scrobbles = pd.read_csv(data, names=['Artist', 'Album', 'Track', 'Time'])
scrobbles

,Artist,Album,Track,Time
0,Brave Little Abacus,Masked Dancers: Concern in So Many Things You ...,born again so many times you forget you are,26 Feb 2021 11:33
1,Brave Little Abacus,Masked Dancers: Concern in So Many Things You ...,he never existed in the first place,26 Feb 2021 11:29
2,Brave Little Abacus,Masked Dancers: Concern in So Many Things You ...,Through Hallways,26 Feb 2021 11:26
3,Brave Little Abacus,Masked Dancers: Concern in So Many Things You ...,Waiting for Your Return Like Running Backwards,26 Feb 2021 11:24
4,Brave Little Abacus,Masked Dancers: Concern in So Many Things You ...,A Map Of the Stars,26 Feb 2021 11:21
...,...,...,...,...
126910,Radiohead,The Bends,(Nice Dream),01 Jan 1970 00:00
126911,Radiohead,The Bends,(Nice Dream),01 Jan 1970 00:00
126912,Radiohead,The Bends,(Nice Dream),01 Jan 1970 00:00
126913,Radiohead,The Bends,(Nice Dream),01 Jan 1970 00:00
126914,Radiohead,The Bends,(Nice Dream),01 Jan 1970 00:00

In [20]:
scrobbles.loc[scrobbles['Artist'] == 'Radiohead']

           Artist        Album                  Track               Time
1730    Radiohead  In Rainbows  Weird Fishes/ Arpeggi  14 Jan 2021 19:24
1732    Radiohead  OK Computer            The Tourist  14 Jan 2021 19:14
1733    Radiohead  OK Computer                  Lucky  14 Jan 2021 19:10
1734    Radiohead  OK Computer           No Surprises  14 Jan 2021 19:06
1735    Radiohead  OK Computer  Climbing Up the Walls  14 Jan 2021 19:02
...           ...          ...                    ...                ...
126910  Radiohead    The Bends           (Nice Dream)  01 Jan 1970 00:00
126911  Radiohead    The Bends           (Nice Dream)  01 Jan 1970 00:00
126912  Radiohead    The Bends           (Nice Dream)  01 Jan 1970 00:00
126913  Radiohead    The Bends           (Nice Dream)  01 Jan 1970 00:00
126914  Radiohead    The Bends           (Nice Dream)  01 Jan 1970 00:00

[3650 rows x 4 columns]